* {
    font-family: 'Montserrat', sans-serif;
}


body {
    background-image: linear-gradient(to right, #58d0e0, #abd582);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    border: 1px solid #a0a0a0;
    background-color: #ffffff8a;
    display: inline-block;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #0000003b;
    width: 500px;
}

lable {
    display: block;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00000047;
    color: #6c6c6c;
    font-size: 1.1em;
}

input:focus {
    background-color: #f4fdea;
}

button {
    background-color: #43a7bc;
    padding: 1em 3em;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
    margin-top: 2em;
}

button:hover {
background-color:  #82bc3f;
cursor: pointer;
}


a {
    color: #194563;
    margin-left: 2em;
}

.buttons {
    text-align: left;
}








